{% extends 'base_auth.html' %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col-md-4">  </div>
    <div class="col-md-4">

        <div class="card mt-5">

            <div class="card-body">
                <div class="card-title py-3">
                    <h4>Reset Password</h4><hr>Please enter your email to get a link
                 </div>
                <form action="{% url 'request_reset_link' %}" method="post">
                    {% csrf_token %}                
                    <div class="form-group">
                        <input type="email" name="email" id="emailField" placeholder="Email" class="form-control form-control-sm" value="{{values.email}}"><br>
                    </div>
                    <input type="submit" value="Submit" class="btn btn-block btn-primary submit-btn" style="width:100%;margin-top:2%;" />
                </form>

            </div>
            <div class="container">
                <span class="text-lead lead">Already have an account? </span><a href="{% url 'login' %}">Login</a>
            </div>
        
        </div>





    </div>
    <div class="col-md-4"></div>
</div>

<script src="{% static 'js/register/register.js' %}"></script>

{% endblock %}