{% extends 'base.html' %}



{% block content %}
<title>Withdrawal Request</title>

    <style>
        .rejected {
            background-color: #f8d7da; /* Light red background */
            color: #721c24; /* Dark red text */
        }
        .approved {
            background-color: #d4edda; /* Light green background */
            color: #155724; /* Dark green text */
        }
    </style>
    



<div class="container" style="margin-top:7%;">
    <h2>Withdrawal Request</h2>

    <form method="POST" class="mb-4">
        {% csrf_token %}
        <div class="form-group">
            <label for="amount">Amount:</label>
            <input type="number" class="form-control" step="0.01" name="amount" required>
        </div>
        <div class="form-group">
            <label for="reason">Reason for Withdrawal:</label>
            <textarea class="form-control" name="reason" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit Request</button>
    </form>

    <h3>Your Withdrawal Requests</h3>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Amount</th>
                <th>Reason</th>
                <th>Status</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for request in user_requests %}
            <tr class="{% if request.status == 'Rejected' %}table-danger{% elif request.status == 'Approved' %}table-success{% endif %}">
                <td>Rs {{ request.amount }}</td>
                <td>{{ request.reason }}</td>
                <td>{{ request.status }}</td>
                <td>{{ request.timestamp|date:"F j, Y  H:i A" }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4" class="text-center">No withdrawal requests found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% endblock %}
